.ht_mousebadge_1,
.ht_mousebadge_2,
.ht_mousebadge_3,
.ht_mousebadge_4,
.ht_mousebadge_5,
.ht_mousebadge_6,
.ht_mousebadge_7,
.ht_mousebadge_8,
.ht_mousebadge_9,
.ht_mousebadge_10
{
    background-image: url('moz-extension://c5ca6786-fa43-41da-94a0-257004ee38aa/images/gold_medal.png');
	background-image: url('/images/gold_medal.png');
    background-size: 65px;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 50%;
}

    .ht_mousebadge_1:before,
    .ht_mousebadge_2:before,
    .ht_mousebadge_3:before,
    .ht_mousebadge_4:before,
    .ht_mousebadge_5:before,
    .ht_mousebadge_6:before,
    .ht_mousebadge_7:before,
    .ht_mousebadge_8:before,
    .ht_mousebadge_9:before,
    .ht_mousebadge_10:before
    {
        position: relative;
        font-size: 10px;
        text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        text-align: center;
        display: table-cell;
        width: 65px;
        color: #C4B870;
    }

.ht_mousebadge_11,
.ht_mousebadge_12,
.ht_mousebadge_13,
.ht_mousebadge_14,
.ht_mousebadge_15,
.ht_mousebadge_16,
.ht_mousebadge_17,
.ht_mousebadge_18,
.ht_mousebadge_19,
.ht_mousebadge_20,
.ht_mousebadge_21,
.ht_mousebadge_22,
.ht_mousebadge_23,
.ht_mousebadge_24,
.ht_mousebadge_25,
.ht_mousebadge_26,
.ht_mousebadge_27,
.ht_mousebadge_28,
.ht_mousebadge_29,
.ht_mousebadge_30,
.ht_mousebadge_31,
.ht_mousebadge_32,
.ht_mousebadge_33,
.ht_mousebadge_34,
.ht_mousebadge_35,
.ht_mousebadge_36,
.ht_mousebadge_37,
.ht_mousebadge_38,
.ht_mousebadge_39,
.ht_mousebadge_40,
.ht_mousebadge_41,
.ht_mousebadge_42,
.ht_mousebadge_43,
.ht_mousebadge_44,
.ht_mousebadge_45,
.ht_mousebadge_46,
.ht_mousebadge_47,
.ht_mousebadge_48,
.ht_mousebadge_49,
.ht_mousebadge_50
{
    background-image: url('moz-extension://c5ca6786-fa43-41da-94a0-257004ee38aa/images/silver_medal.png');
    background-image: url('/images/silver_medal.png');
    background-size: 65px;
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: 50%;
}

    .ht_mousebadge_11:before,
    .ht_mousebadge_12:before,
    .ht_mousebadge_13:before,
    .ht_mousebadge_14:before,
    .ht_mousebadge_15:before,
    .ht_mousebadge_16:before,
    .ht_mousebadge_17:before,
    .ht_mousebadge_18:before,
    .ht_mousebadge_19:before,
    .ht_mousebadge_20:before,
    .ht_mousebadge_21:before,
    .ht_mousebadge_22:before,
    .ht_mousebadge_23:before,
    .ht_mousebadge_24:before,
    .ht_mousebadge_25:before,
    .ht_mousebadge_26:before,
    .ht_mousebadge_27:before,
    .ht_mousebadge_28:before,
    .ht_mousebadge_29:before,
    .ht_mousebadge_30:before,
    .ht_mousebadge_31:before,
    .ht_mousebadge_32:before,
    .ht_mousebadge_33:before,
    .ht_mousebadge_34:before,
    .ht_mousebadge_35:before,
    .ht_mousebadge_36:before,
    .ht_mousebadge_37:before,
    .ht_mousebadge_38:before,
    .ht_mousebadge_39:before,
    .ht_mousebadge_40:before,
    .ht_mousebadge_41:before,
    .ht_mousebadge_42:before,
    .ht_mousebadge_43:before,
    .ht_mousebadge_44:before,
    .ht_mousebadge_45:before,
    .ht_mousebadge_46:before,
    .ht_mousebadge_47:before,
    .ht_mousebadge_48:before,
    .ht_mousebadge_49:before,
    .ht_mousebadge_50:before
    {
        position: relative;
        font-size: 10px;
        text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        text-align: center;
        display: table-cell;
        width: 65px;
        color: #555;
    }

.ht_mousebadge_51,
.ht_mousebadge_52,
.ht_mousebadge_53,
.ht_mousebadge_54,
.ht_mousebadge_55,
.ht_mousebadge_56,
.ht_mousebadge_57,
.ht_mousebadge_58,
.ht_mousebadge_59,
.ht_mousebadge_60,
.ht_mousebadge_61,
.ht_mousebadge_62,
.ht_mousebadge_63,
.ht_mousebadge_64,
.ht_mousebadge_65,
.ht_mousebadge_66,
.ht_mousebadge_67,
.ht_mousebadge_68,
.ht_mousebadge_69,
.ht_mousebadge_70,
.ht_mousebadge_71,
.ht_mousebadge_72,
.ht_mousebadge_73,
.ht_mousebadge_74,
.ht_mousebadge_75,
.ht_mousebadge_76,
.ht_mousebadge_77,
.ht_mousebadge_78,
.ht_mousebadge_79,
.ht_mousebadge_80,
.ht_mousebadge_81,
.ht_mousebadge_82,
.ht_mousebadge_83,
.ht_mousebadge_84,
.ht_mousebadge_85,
.ht_mousebadge_86,
.ht_mousebadge_87,
.ht_mousebadge_88,
.ht_mousebadge_89,
.ht_mousebadge_90,
.ht_mousebadge_91,
.ht_mousebadge_92,
.ht_mousebadge_93,
.ht_mousebadge_94,
.ht_mousebadge_95,
.ht_mousebadge_96,
.ht_mousebadge_97,
.ht_mousebadge_98,
.ht_mousebadge_99,
.ht_mousebadge_100
{
    background-image: url('moz-extension://c5ca6786-fa43-41da-94a0-257004ee38aa/images/bronze_medal_dark.png');
	background-image: url('/images/bronze_medal_dark.png');
    background-size: 65px;
    background-repeat: no-repeat;
    background-position-x: 35%;
    background-position-y: 50%;
}

    .ht_mousebadge_51:before,
    .ht_mousebadge_52:before,
    .ht_mousebadge_53:before,
    .ht_mousebadge_54:before,
    .ht_mousebadge_55:before,
    .ht_mousebadge_56:before,
    .ht_mousebadge_57:before,
    .ht_mousebadge_58:before,
    .ht_mousebadge_59:before,
    .ht_mousebadge_60:before,
    .ht_mousebadge_61:before,
    .ht_mousebadge_62:before,
    .ht_mousebadge_63:before,
    .ht_mousebadge_64:before,
    .ht_mousebadge_65:before,
    .ht_mousebadge_66:before,
    .ht_mousebadge_67:before,
    .ht_mousebadge_68:before,
    .ht_mousebadge_69:before,
    .ht_mousebadge_70:before,
    .ht_mousebadge_71:before,
    .ht_mousebadge_72:before,
    .ht_mousebadge_73:before,
    .ht_mousebadge_74:before,
    .ht_mousebadge_75:before,
    .ht_mousebadge_76:before,
    .ht_mousebadge_77:before,
    .ht_mousebadge_78:before,
    .ht_mousebadge_79:before,
    .ht_mousebadge_80:before,
    .ht_mousebadge_81:before,
    .ht_mousebadge_82:before,
    .ht_mousebadge_83:before,
    .ht_mousebadge_84:before,
    .ht_mousebadge_85:before,
    .ht_mousebadge_86:before,
    .ht_mousebadge_87:before,
    .ht_mousebadge_88:before,
    .ht_mousebadge_89:before,
    .ht_mousebadge_90:before,
    .ht_mousebadge_91:before,
    .ht_mousebadge_92:before,
    .ht_mousebadge_93:before,
    .ht_mousebadge_94:before,
    .ht_mousebadge_95:before,
    .ht_mousebadge_96:before,
    .ht_mousebadge_97:before,
    .ht_mousebadge_98:before,
    .ht_mousebadge_99:before,
    .ht_mousebadge_100:before
    {
        position: relative;
        font-size: 10px;
        text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        text-align: center;
        display: table-cell;
        width: 65px;
        color: #72633a;
    }

.ht_mousebadge_1:before
{
    content: "1st";
}

.ht_mousebadge_2:before
{
    content: "2nd";
}

.ht_mousebadge_3:before
{
    content: "3rd";
}

.ht_mousebadge_4:before
{
    content: "4th";
}

.ht_mousebadge_5:before
{
    content: "5th";
}

.ht_mousebadge_6:before
{
    content: "6th";
}

.ht_mousebadge_7:before
{
    content: "7th";
}

.ht_mousebadge_8:before
{
    content: "8th";
}

.ht_mousebadge_9:before
{
    content: "9th";
}

.ht_mousebadge_10:before
{
    content: "10th";
}

.ht_mousebadge_11:before
{
    content: "11th";
}

.ht_mousebadge_12:before
{
    content: "12th";
}

.ht_mousebadge_13:before
{
    content: "13th";
}

.ht_mousebadge_14:before
{
    content: "14th";
}

.ht_mousebadge_15:before
{
    content: "15th";
}

.ht_mousebadge_16:before
{
    content: "16th";
}

.ht_mousebadge_17:before
{
    content: "17th";
}

.ht_mousebadge_18:before
{
    content: "18th";
}

.ht_mousebadge_19:before
{
    content: "19th";
}

.ht_mousebadge_20:before
{
    content: "20th";
}

.ht_mousebadge_21:before
{
    content: "21st";
}

.ht_mousebadge_22:before
{
    content: "22nd";
}

.ht_mousebadge_23:before
{
    content: "23rd";
}

.ht_mousebadge_24:before
{
    content: "24th";
}

.ht_mousebadge_25:before
{
    content: "25th";
}

.ht_mousebadge_26:before
{
    content: "26th";
}

.ht_mousebadge_27:before
{
    content: "27th";
}

.ht_mousebadge_28:before
{
    content: "28th";
}

.ht_mousebadge_29:before
{
    content: "29th";
}

.ht_mousebadge_30:before
{
    content: "30th";
}

.ht_mousebadge_31:before
{
    content: "31st";
}

.ht_mousebadge_32:before
{
    content: "32nd";
}

.ht_mousebadge_33:before
{
    content: "33rd";
}

.ht_mousebadge_34:before
{
    content: "34th";
}

.ht_mousebadge_35:before
{
    content: "35th";
}

.ht_mousebadge_36:before
{
    content: "36th";
}

.ht_mousebadge_37:before
{
    content: "37th";
}

.ht_mousebadge_38:before
{
    content: "38th";
}

.ht_mousebadge_39:before
{
    content: "39th";
}

.ht_mousebadge_40:before
{
    content: "40th";
}

.ht_mousebadge_41:before
{
    content: "41st";
}

.ht_mousebadge_42:before
{
    content: "42nd";
}

.ht_mousebadge_43:before
{
    content: "43rd";
}

.ht_mousebadge_44:before
{
    content: "44th";
}

.ht_mousebadge_45:before
{
    content: "45th";
}

.ht_mousebadge_46:before
{
    content: "46th";
}

.ht_mousebadge_47:before
{
    content: "47th";
}

.ht_mousebadge_48:before
{
    content: "48th";
}

.ht_mousebadge_49:before
{
    content: "49th";
}

.ht_mousebadge_50:before
{
    content: "50th";
}

.ht_mousebadge_51:before
{
    content: "51st";
}

.ht_mousebadge_52:before
{
    content: "52nd";
}

.ht_mousebadge_53:before
{
    content: "53rd";
}

.ht_mousebadge_54:before
{
    content: "54th";
}

.ht_mousebadge_55:before
{
    content: "55th";
}

.ht_mousebadge_56:before
{
    content: "56th";
}

.ht_mousebadge_57:before
{
    content: "57th";
}

.ht_mousebadge_58:before
{
    content: "58th";
}

.ht_mousebadge_59:before
{
    content: "59th";
}

.ht_mousebadge_60:before
{
    content: "60th";
}

.ht_mousebadge_61:before
{
    content: "61st";
}

.ht_mousebadge_62:before
{
    content: "62nd";
}

.ht_mousebadge_63:before
{
    content: "63rd";
}

.ht_mousebadge_64:before
{
    content: "64th";
}

.ht_mousebadge_65:before
{
    content: "65th";
}

.ht_mousebadge_66:before
{
    content: "66th";
}

.ht_mousebadge_67:before
{
    content: "67th";
}

.ht_mousebadge_68:before
{
    content: "68th";
}

.ht_mousebadge_69:before
{
    content: "69th";
}

.ht_mousebadge_70:before
{
    content: "70th";
}

.ht_mousebadge_71:before
{
    content: "71st";
}

.ht_mousebadge_72:before
{
    content: "72nd";
}

.ht_mousebadge_73:before
{
    content: "73rd";
}

.ht_mousebadge_74:before
{
    content: "74th";
}

.ht_mousebadge_75:before
{
    content: "75th";
}

.ht_mousebadge_76:before
{
    content: "76th";
}

.ht_mousebadge_77:before
{
    content: "77th";
}

.ht_mousebadge_78:before
{
    content: "78th";
}

.ht_mousebadge_79:before
{
    content: "79th";
}

.ht_mousebadge_80:before
{
    content: "80th";
}

.ht_mousebadge_81:before
{
    content: "81st";
}

.ht_mousebadge_82:before
{
    content: "82nd";
}

.ht_mousebadge_83:before
{
    content: "83rd";
}

.ht_mousebadge_84:before
{
    content: "84th";
}

.ht_mousebadge_85:before
{
    content: "85th";
}

.ht_mousebadge_86:before
{
    content: "86th";
}

.ht_mousebadge_87:before
{
    content: "87th";
}

.ht_mousebadge_88:before
{
    content: "88th";
}

.ht_mousebadge_89:before
{
    content: "89th";
}

.ht_mousebadge_90:before
{
    content: "90th";
}

.ht_mousebadge_91:before
{
    content: "91st";
}

.ht_mousebadge_92:before
{
    content: "92nd";
}

.ht_mousebadge_93:before
{
    content: "93rd";
}

.ht_mousebadge_94:before
{
    content: "94th";
}

.ht_mousebadge_95:before
{
    content: "95th";
}

.ht_mousebadge_96:before
{
    content: "96th";
}

.ht_mousebadge_97:before
{
    content: "97th";
}

.ht_mousebadge_98:before
{
    content: "98th";
}

.ht_mousebadge_99:before
{
    content: "99th";
}

.ht_mousebadge_100:before
{
    content: "100th";
}
