.onoffswitch
{
    position: relative;
    width: 68px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.onoffswitch-checkbox
{
    display: none;
}

.onoffswitch-label
{
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner
{
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after
    {
        float: left;
        width: 50%;
        height: 13px;
        padding: 0;
        line-height: 13px;
        font-size: 10px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before
    {
        content: "Share";
        padding-left: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: left;
    }

    .onoffswitch-inner:after
    {
        content: "Self";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

.onoffswitch-switch
{
    width: 17px;
    margin: -2px;
    background: #A1A1A1;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 51px;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
{
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
{
    right: 0px;
    background-color: #9BCCC2;
}

.statusBox
{
    min-width: 125px;
    z-index: 2000;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    border-style: groove;
    margin-left: -100px;
    border-radius: 5px;
    margin-top: -25px;
    background-color: rgb(217, 233, 232);
    text-align: center;
    display: table;
    opacity: 0;
    border-color: #000000;
    border-width: 2px;
}

    .statusBox > span
    {
        display: table-cell;
        vertical-align: middle;
        font: 10px;
        font-family: verdana,arial,sans-serif;
        color: #4F6B72;
        padding: 9px;
    }

    .statusBox > input
    {
        position: absolute;
        left: -15px;
        top: -15px;
        font-size: 100%;
        background-color: rgb(137, 187, 165);
        border-radius: 20px;
        padding: 5px;
    }

    .statusBox > span > hr
    {
        border-top: 1px solid rgb(121, 185, 154);
        background-color: rgb(217, 233, 232);
        border-left-style: inset;
        border-left-width: 1px;
        height: 0px;
    }

    .statusBox > div.title_bar
    {
        position: absolute;
        top: -15px;
        font-size: 110%;
        background-color: rgb(137, 187, 165);
        border-radius: 10px;
        border-color: rgb(124, 124, 124);
        border-width: 3px;
        border-style: groove;
        padding: 2px;
        width: 70%;
        margin: 0 auto;
        left: 13.7%;
        cursor: move;
    }

div .mousebox .platinum
{
    background: url('chrome-extension://__MSG_@@extension_id__/images/crown_platinum_alt_2.png') top right no-repeat;
	background: url('/images/crown_platinum_alt_2.png') top right no-repeat;
}

div .crownheaderplatinum
{
    background: url('chrome-extension://__MSG_@@extension_id__/images/crown_platinum_alt_2.png') top left no-repeat;
	background: url('/images/crown_platinum_alt_2.png') top left no-repeat;
}

.ht_up_box_container
{
    min-width: 125px;
    z-index: 2000;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    border-style: groove;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.ht_up_box
{
    min-width: 125px;
    z-index: 2000;
    margin: 0 auto;
    position: relative;
    border-style: groove;
    border-radius: 5px;
    background-color: rgb(217, 233, 232);
    text-align: center;
    display: inline-block;
    margin-top: -10px;
    border-color: #000000;
    border-width: 2px;
    padding: 5px;
    overflow: scroll;
    /*
    resize: both;
    */
}

    .ht_up_box_container > span,
    .ht_up_box > span
    {
        display: table-cell;
        vertical-align: middle;
        font: 10px;
        font-family: arial,sans-serif;
        color: #4F6B72;
        padding: 9px;
    }

    .ht_up_box_container > input,
    .ht_up_box > input
    {
        position: absolute;
        left: -15px;
        top: -15px;
        font-size: 100%;
        background-color: rgb(137, 187, 165);
        border-radius: 20px;
        padding: 5px;
    }

.ht_up_box_container > div.title_bar
{
    z-index: 2001;
    position: absolute;
    top: -15px;
    width: 70%;
    margin: 0 auto;
    left: 13.7%;
    font-size: 110%;
    background-color: rgb(137, 187, 165);
    border-radius: 10px;
    border-color: rgb(124, 124, 124);
    border-width: 3px;
    border-style: groove;
    padding: 2px;
    cursor: move;
}

.ht_up_box_container > div#div_desc,
.ht_up_box > div#div_desc
{
    padding-top: 9px;
}

.windowOptions
{
    min-width: 200px;
    z-index: 10000;
    position: absolute;
    top: 1em;
    right: 1em;
    border-style: groove;
    border-radius: 5px;
    background-color: rgb(217, 233, 232);
    text-align: center;
    display: inline-block;
    opacity: 1;
    border-color: #000000;
    border-width: 2px;
    padding: 5px;
    margin-top: 10px;
}

    .windowOptions > input
    {
        position: relative;
        font-size: 50%;
        background-color: rgb(137, 187, 165);
        border-radius: 10px;
        padding: 2px;
        width: 95%;
        top: 12px;
    }

    .windowOptions > div.title_bar
    {
        position: absolute;
        top: -15px;
        font-size: 110%;
        background-color: rgb(137, 187, 165);
        border-radius: 10px;
        border-color: rgb(124, 124, 124);
        border-width: 3px;
        border-style: groove;
        padding: 2px;
        width: 70%;
        margin: 0 auto;
        left: 13.7%;
        margin-bottom: 10px;
    }

    .windowOptions .opacityBox
    {
        border: #000000 solid 1px;
        border-radius: 5px;
        margin-top: 9px;
        background-color: #F0F8FF;
    }

.opacityBox.alt
{
    border-color: #93A09F;
    background-color: #DDF8F7;
}

.opacityBox > hr,
.ht_up_box > hr,
.ht_up_box_container > hr,
.ht_goal hr
{
    border-top: 1px solid rgb(121, 185, 154);
    background-color: rgb(217, 233, 232);
    border-left-style: inset;
    border-left-width: 1px;
    height: 0px;
    width: 50%;
}

div#sb_slider
{
    margin-bottom: 3px;
    margin-top: 3px;
}

.ht_up_box > div#topmessage,
.ht_up_box_container > div#topmessage,
div.opacityBox:first-child
{
    margin-top: 10px;
}

div.itemframe
{
    border-radius: 5px;
    border-style: groove;
    border-width: 2px;
    border-color: rgb(121, 185, 154);
    background-color: #FFFFFF;
    display: inline-block;
    margin: 1px;
}

    div.itemframe > img
    {
        max-width: 40px;
        max-height: 40px;
        min-width: 40px;
        min-height: 40px;
    }

div.itemcount > span
{
    display: inline-block;
    vertical-align: middle;
}

.itemcount
{
    color: rgb(0, 0, 0);
    position: relative;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.66);
    display: inline;
    font-size: 0.9em;
    min-width: 20px;
    max-width: 30px;
    height: 10px;
    top: -17px;
    text-align: center;
    padding-top: 0px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 3px;
}

.nospace
{
    position: relative;
    width: 0px;
    height: 0px;
}

div.journalframe
{
    border-radius: 5px;
    border-style: groove;
    border-width: 2px;
    border-color: rgb(121, 185, 154);
    background: linear-gradient(to bottom, rgba(137,187,165,0) 0%,rgba(137,187,165,0.8) 8%,rgba(137,187,165,0.91) 14%,rgba(148,193,174,1) 19%,rgba(217,233,232,1) 50%,rgba(157,198,181,1) 81%,rgba(137,187,165,0.8) 91%,rgba(137,187,165,0) 100%); /* W3C */
    height: 30px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

    div.journalframe:hover
    {
        border-color: rgb(121, 185, 0);
    }

    div.journalframe:active
    {
        border-style: inset;
    }

    div.journalframe > div > span
    {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        text-align: center;
        margin-top: 9px;
        font-size: 1.5em;
        font-weight: 500;
    }

.ht_profile_tab.active
{
    background: url('chrome-extension://__MSG_@@extension_id__/images/profile_active.png') no-repeat center right !important;
	background: url('/images/profile_active.png') no-repeat center right !important;
}

.ht_profile_tab.inactive
{
    background: url('chrome-extension://__MSG_@@extension_id__/images/profile_inactive.png') no-repeat center right !important;
	background: url('/images/profile_inactive.png') no-repeat center right !important;
}

    .ht_profile_tab.inactive:hover
    {
        background: url('chrome-extension://__MSG_@@extension_id__/images/profile_hover.png') no-repeat center right !important;
		background: url('/images/profile_hover.png') no-repeat center right !important;
    }

.itemImageBox.noItem .itemImage img
{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.itemImageBox img
{
    max-width: 80px;
    max-height: 80px;
}

.notCaughtMouse img:not([src*=silhouette])
{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
    opacity: .5;
}

.ht_small
{
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.ht_goal
{
    position: fixed;
    z-index: 1000;
    max-width: 40em;
    background: #e6f0ff;
    padding: 0.6em 1.0em;
    border: 1px solid #a7cfcc;
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.33);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.33);
    -webkit-border-radius: 5px;
	border-radius: 5px;
    line-height: 150%;
    ?font-size: 92%;
    color: #456;
}

    .ht_goal p
    {
        margin: 0.2em 0;
        text-align: center;
    }

.pagesubtabbar .bar ul li.active[data-tab=tacky] div.control .bubbletab .bcenter
{
    background: url('chrome-extension://__MSG_@@extension_id__/images/ht_tab_bubble_center_small.png') repeat-x bottom !important;
	background: url('/images/ht_tab_bubble_center_small.png') repeat-x bottom !important;
}

.pagesubtabbar .bar ul li.active[data-tab=tacky] div.control .bubbletab .bleft
{
    background: url('chrome-extension://__MSG_@@extension_id__/images/ht_tab_bubble_left_small.png') no-repeat bottom right !important;
	background: url('/images/ht_tab_bubble_left_small.png') no-repeat bottom right !important;
}

.pagesubtabbar .bar ul li.active[data-tab=tacky] div.control .bubbletab .bright
{
    background: url('chrome-extension://__MSG_@@extension_id__/images/ht_tab_bubble_right_small.png') no-repeat bottom left !important;
	background: url('/images/ht_tab_bubble_right_small.png') no-repeat bottom left !important;
}

.pagetabbar .pagetabbartop .bar ul li.active div.ht_control
{
    background: url('chrome-extension://__MSG_@@extension_id__/images/ht_pagetab_active.png') no-repeat bottom left !important;
	background: url('/images/ht_pagetab_active.png') no-repeat bottom left !important;
}

.pagetabbar .pagetabbartop .bar ul li.inactive div.ht_control
{
    background: url('chrome-extension://__MSG_@@extension_id__/images/ht_pagetab_inactive.png') no-repeat bottom left !important;
	background: url('/images/ht_pagetab_inactive.png') no-repeat bottom left !important;
}

table#ht_journals
{
    border: 1px solid #C1DAD7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    table#ht_journals .cs1
    {
        width: 30em;
    }

    table#ht_journals .cs2
    {
        width: 20em;
    }

        table#ht_journals .cs1 td,
        table#ht_journals .cs2 td,
        table#ht_journals #scientificNotation
        {
            text-align: right;
        }

    table#ht_journals caption
    {
        padding: 0 0 5px 0;
        margin: 0 auto;
        width: auto;
        font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-align: right;
    }

    table#ht_journals th
    {
        font: bold 8px/14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        color: #4f6b72;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        border-top: 1px solid #C1DAD7;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        padding: 4px 6px 2px 2px;
        background: #CAE8EA url('chrome-extension://__MSG_@@extension_id__/images/bg_header.jpg') no-repeat;
		background: #CAE8EA url('/images/bg_header.jpg') no-repeat;
        vertical-align: middle;
    }

        table#ht_journals th:first-child
        {
            border-top-left-radius: 5px;
        }

        table#ht_journals th:last-child
        {
            border-top-right-radius: 5px;
        }

    table#ht_journals td.total
    {
        border-top: 0;
        border-left: 0;
        border-right: 1px solid #C1DAD7;
        background: none;
        text-align: right;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    table#ht_journals th.sortable,
    table#ht_journals th.sortable-text,
    table#ht_journals th.sortable-date,
    table#ht_journals th.sortable-keep,
    table#ht_journals th.sortable-date-dmy,
    table#ht_journals th.sortable-numeric,
    table#ht_journals th.sortable-currency,
    table#ht_journals th.sortable-sortByTwelveHourTimestamp,
    table#ht_journals th.sortable-sortIPAddress,
    table#ht_journals th.sortable-sortEnglishLonghandDateFormat,
    table#ht_journals th.sortable-sortScientificNotation,
    table#ht_journals th.sortable-sortImage,
    table#ht_journals th.sortable-sortFileSize,
    table#ht_journals th.sortable-sortAlphaNumeric,
    table#ht_journals th.sortable-sortEnglishDateTime
    {
        cursor: pointer;
        background: #CAE8EA url('chrome-extension://__MSG_@@extension_id__/images/bg_header_sortable.jpg') no-repeat;
		background: #CAE8EA url('/images/bg_header_sortable.jpg') no-repeat;
        padding: 8px 12px 4px 16px;
    }

    table#ht_journals th.forwardSort
    {
        background: #CAE8EA url('chrome-extension://__MSG_@@extension_id__/images/bg_header_down.jpg') no-repeat 0 0;
		background: #CAE8EA url('/images/bg_header_down.jpg') no-repeat 0 0;
    }

    table#ht_journals th.reverseSort
    {
        background: #CAE8EA url('chrome-extension://__MSG_@@extension_id__/images/bg_header_up.jpg') no-repeat 0 0;
		background: #CAE8EA url('/images/bg_header_up.jpg') no-repeat 0 0;
    }

    table#ht_journals thead th.forwardSort a,
    table#ht_journals thead th.reverseSort a
    {
        color: #000;
        text-decoration: none;
    }

    table#ht_journals th a
    {
        text-decoration: none;
        color: #4f6b72;
        background: transparent;
    }

    table#ht_journals td a
    {
        text-decoration: none;
        color: #239;
        background: transparent;
    }

    table#ht_journals td img
    {
        margin: 0 auto;
        border: 3px solid #ddd;
    }

    table#ht_journals td a:hover
    {
        color: #a84444;
        border-bottom: 1px dotted #a80000;
        background: transparent;
    }

    table#ht_journals td
    {
        font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        padding: 6px 2px 6px 2px;
        color: #4f6b72;
    }

        table#ht_journals td.lft
        {
            text-align: left;
        }

    table#ht_journals tr.alt
    {
        background: #F5FAFA;
        color: #797268;
    }

    table#ht_journals tr:hover
    {
        box-shadow: 0 0 12px rgba(228, 222, 94, 1);
        padding: 3px 3px 3px 3px;
        margin: 1px 1px 3px 0px;
        border: 2px groove rgba(228, 222, 94, .25);
        background-color: rgba(245, 243, 198, .35);
        transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

.ht_goal_hovered
{
    box-shadow: 0 0 12px rgba(228, 222, 94, 1);
    border: 2px groove rgba(228, 222, 94, .25);
    background-color: rgba(245, 243, 198, .35);
    transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#spinner
{
    margin: 0 auto;
    height: 50px;
    width: 50px;
    text-indent: 250px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #000;
    mask-image: url('chrome-extension://__MSG_@@extension_id__/images/spinner.png');
	mask-image: url('/images/spinner.png');
    animation-name: spinnerRotate, spinnerColor;
    animation-duration: 2s, 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinnerRotate
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}

@keyframes spinnerColor
{
    from
    {
        background-color: rgba(0, 0, 0, .5);
    }

    25%
    {
        background-color: rgba(130, 140, 155, 1);
    }

    50%
    {
        background-color: rgba(167, 207, 204, .5);
    }

    75%
    {
        background-color: rgba(130, 140, 155, 1);
    }

    to
    {
        background-color: rgba(0, 0, 0, .5);
    }
}

#spinner_text
{
    margin: 0 auto;
    text-align: center;
}

.ht_ar
{
    background: url('chrome-extension://__MSG_@@extension_id__/images/trapSelectorBar.en.jpg') 0 0 no-repeat !important;
	background: url('/images/trapSelectorBar.en.jpg') 0 0 no-repeat !important;
}

    .ht_ar .stat:hover
    {
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/trapSelectorBar.en.jpg') !important;
		background-image: url('/images/trapSelectorBar.en.jpg') !important;
        background-position: -3px -76px;
    }

.inventoryPage-tagDirectory-tag.ht_hidden_tab
{
    background-color: #8ba5a6 !important;
}

    .inventoryPage-tagDirectory-tag.ht_hidden_tab:hover
    {
        text-decoration:none;
        -webkit-box-shadow:0 0 2px #111111;
        box-shadow:0 0 2px #111111;
    }