body
{
	border:0;
	margin:0;
	text-align:center;
	font-size: 0.9em;
	font-family: verdana,arial,sans-serif;
	color:#545454;
	background:#EEE;
	height: 100%;
}

#container
{
	background-color: #FFFFFF;
    /*border-top: 2px groove rgba(26, 25, 27, 0.09);*/
    width: 86%;
    position: relative;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    margin-bottom: -2px;
    box-shadow: 0px 0px 20px 0px rgba(26, 25, 27, 0.5);
}

img
{
	border-color: #1D6366;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	padding: 1px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 20px 0px rgba(26, 25, 27, 0.5);
	margin-top: 10px;
	
}

a
{
	text-decoration: none;
	color: #239;
	background: transparent;
	cursor: pointer;
}

a.link:hover
{
	color: #a84444;
	border-bottom: 1px dotted #a80000;
	background: transparent;
}

.isnew
{
	display: inline-block;
	position: relative;
	left: -10px;
	top: -15px;
	color: #4C728B;
	font-size: 0.8em;
	width: 0px;
	transform: rotate(29deg);
	animation: pulsate .8s infinite alternate;
}

@keyframes pulsate {
    from { text-shadow: 0 0 2px #4C728B; }
    to { text-shadow: 0 0 10px #4C728B; }
}

/* Taken from spinner.css */
.spinner 
{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding: 0.5em;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    border: 5px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.outer 
{
    animation: spin 1s infinite;
}

.inner 
{
    animation: spin 1s infinite;
}

@keyframes spin 
{
    0% 
    {
        transform: rotateZ(0deg);
    }

    100% 
    {
        transform: rotateZ(360deg);
    }
}

#wrap 
{
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#spinner_text
{
    display: table-row;
    text-align: center;
    height: 50px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

#loading
{
	display: table;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}