body
{
    padding: 0;
    border: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-family: verdana,arial,sans-serif;
    color: #545454;
    min-width: 800px;
}

h2 span
{
    font-variant: small-caps;
}

p a
{
    font-weight: normal;
    outline: none;
}

    p a:link,
    p a:visited
    {
        color: #333;
        text-decoration: underline;
    }

    p a:hover
    {
        color: #fff;
        text-decoration: none;
        background: #000;
    }

    p a:active
    {
        color: #000;
        text-decoration: underline;
    }

code
{
    font-family: 'andale mono','lucida console','courier new',monospace;
    font-size: 1em;
}

p
{
    line-height: 1.6em;
    margin: 0 0 1em 0;
}

h1
{
    font-weight: lighter;
    font-family: georgia, times new roman, times, georgia, palatino, serif;
    text-align: center;
    margin-top: 0.6em;
    color: #000;
    font-size: 2em;
}

h2
{
    font-weight: lighter;
    font-family: verdana,arial,sans-serif;
    text-align: center;
    margin-top: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2em;
}

    h2 span
    {
        font-variant: small-caps;
        text-transform: none;
    }

table
{
    width: auto;
    padding: 0;
    margin: 0 auto 1.5em auto;
    border-radius: 5px;
    border-left: 1px solid #C1DAD7;
    border-collapse: collapse;
}

.cs1
{
    width: 30em;
}

.cs2
{
    width: 20em;
}

    .cs1 td,
    .cs2 td,
    #scientificNotation
    {
        text-align: right;
    }

caption
{
    padding: 0 0 5px 0;
    margin: 0 auto;
    width: auto;
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

th
{
    font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    padding: 8px 12px 4px 12px;
    background: #CAE8EA url(../images/bg_header.jpg) no-repeat;
    vertical-align: middle;
    border-radius: 5px;
}

td.total
{
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
}

th a
{
    text-decoration: none;
    color: #4f6b72;
    background: transparent;
}

td a
{
    text-decoration: none;
    color: #239;
    background: transparent;
}

td img
{
    margin: 0 auto;
    border: 3px solid #ddd;
}

td a:hover
{
    color: #a84444;
    border-bottom: 1px dotted #a80000;
    background: transparent;
}

td
{
    font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    padding: 6px 12px 6px 12px;
    color: #4f6b72;
    border-radius: 5px;
}

    td.lft
    {
        text-align: left;
    }

tr.alt
{
    background: #F5FAFA;
    color: #797268;
}

.onoffswitch
{
    position: relative;
    width: 76px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox
{
    display: none;
}

.onoffswitch-label
{
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner
{
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after
    {
        float: left;
        width: 50%;
        height: 23px;
        padding: 0;
        line-height: 23px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before
    {
        content: "ON";
        padding-left: 10px;
        background-color: #EEEEEE;
        color: #999999;
    }

    .onoffswitch-inner:after
    {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

.onoffswitch-switch
{
    width: 28px;
    margin: -2.5px;
    background: #A1A1A1;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 49px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
{
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
{
    right: 0px;
    background-color: #9BCCC2;
}

#notification_time_display,
#goal_count_display
{
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    top: -31px;
    background-color: #9BCCC2;
    z-index: 1;
    margin-bottom: -25px;
    border: 2px solid #999999;
    border-radius: 10px;
    text-align: center;
    opacity: .75;
    font-size: 12px;
    font-weight: bold;
}

#notification_time_slider,
#goal_count_slider
{
    z-index: 2;
    margin-top: 25px;
}

.ui-combobox
{
    display: inline-block;
    margin: 0;
    margin-right: 1.8em;
    position: relative;
}

.ui-combobox-input
{
    padding: 0.2em;
    margin: 0;
    width: 251.21875px;
}

.ui-combobox-button
{
    position: absolute;
    width: 1.8em !important;
    margin: 0;
    margin-left: -1px;
    top: 0;
    bottom: 0;
}

    .ui-combobox-button .ui-button-text
    {
        padding: 0em;
    }

.ui-combobox .ui-autocomplete
{
    max-height: 10em;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-slider-range
{
    background: #D9ECEC;
}

#toolbar
{
    padding: 4px;
    display: inline-block;
}

#btn_notification_reset
{
    margin: 0 auto;
    display: block;
}

div#ht_warning
{
    background-color: #F4FC7E;
}