div.ht_up_box::-webkit-scrollbar
{
    width: 13px;
    height: 13px;
}

div.ht_up_box::-webkit-scrollbar-corner
{
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/corner.png);
    background-repeat: no-repeat;
}

    div.ht_up_box::-webkit-scrollbar-corner:window-inactive
    {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/corner-inactive.png);
    }

div.ht_up_box::-webkit-resizer
{
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/resizer.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

    div.ht_up_box::-webkit-resizer:window-inactive
    {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/resizer-inactive.png);
    }

div.ht_up_box::-webkit-scrollbar-track-piece:disabled
{
    display: none !important;
}

div.ht_up_box::-webkit-scrollbar-button:disabled
{
    display: none !important;
}

div.ht_up_box::-webkit-scrollbar-track:disabled
{
    margin: 6px;
}

/* Horizontal Scrollbar Styles */

div.ht_up_box::-webkit-scrollbar:horizontal
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button.png) 0 2 0 2;
    border-color: transparent;
    border-width: 0 2px;
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-background.png);
    background-repeat: repeat-x;
}

    div.ht_up_box::-webkit-scrollbar:horizontal:corner-present
    {
        border-right-width: 0;
    }

div.ht_up_box::-webkit-scrollbar-track:horizontal:disabled:corner-present
{
    margin-right: 5px;
}

div.ht_up_box::-webkit-scrollbar:horizontal:window-inactive
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-inactive.png) 0 2 0 2;
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-background-inactive.png);
}

div.ht_up_box::-webkit-scrollbar-thumb:horizontal
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-thumb.png) 0 13 0 13;
    border-color: transparent;
    border-width: 0 13px;
    min-width: 20px;
}

    div.ht_up_box::-webkit-scrollbar-thumb:horizontal:hover
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-thumb-hover.png) 0 13 0 13;
    }

    div.ht_up_box::-webkit-scrollbar-thumb:horizontal:active
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-thumb-active.png) 0 13 0 13;
    }

    div.ht_up_box::-webkit-scrollbar-thumb:horizontal:window-inactive
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-thumb-inactive.png) 0 13 0 13;
    }

div.ht_up_box::-webkit-scrollbar-track-piece:horizontal:start:no-button,
div.ht_up_box.double-end::-webkit-scrollbar-track-piece:horizontal:start,
div.ht_up_box.none::-webkit-scrollbar-track-piece:horizontal:start
{
    margin-left: 6px;
}

div.ht_up_box::-webkit-scrollbar-track-piece:horizontal:end:no-button,
div.ht_up_box.double-start::-webkit-scrollbar-track-piece:horizontal:end,
div.ht_up_box.none::-webkit-scrollbar-track-piece:horizontal:end
{
    margin-right: 6px;
}

    div.ht_up_box::-webkit-scrollbar-track-piece:horizontal:end:no-button:corner-present,
    div.ht_up_box.double-start::-webkit-scrollbar-track-piece:horizontal:end:corner-present,
    div.ht_up_box.none::-webkit-scrollbar-track-piece:horizontal:end:corner-present
    {
        margin-right: 5px;
    }

div.ht_up_box:not(.none):not(.double-end)::-webkit-scrollbar-track-piece:horizontal:start:single-button,
div.ht_up_box:not(.none):not(.double-end)::-webkit-scrollbar-track-piece:horizontal:start:double-button,
div.ht_up_box.single::-webkit-scrollbar-track-piece:horizontal:start,
div.ht_up_box.double-start::-webkit-scrollbar-track-piece:horizontal:start,
div.ht_up_box.double-both::-webkit-scrollbar-track-piece:horizontal:start
{
    margin-left: -6px;
}

div.ht_up_box:not(.none):not(.double-start)::-webkit-scrollbar-track-piece:horizontal:end:single-button,
div.ht_up_box:not(.none):not(.double-start)::-webkit-scrollbar-track-piece:horizontal:end:double-button,
div.ht_up_box.single::-webkit-scrollbar-track-piece:horizontal:end,
div.ht_up_box.double-end::-webkit-scrollbar-track-piece:horizontal:end,
div.ht_up_box.double-both::-webkit-scrollbar-track-piece:horizontal:end
{
    margin-right: -6px;
}

div.ht_up_box::-webkit-scrollbar-track:horizontal:disabled
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-track-disabled.png) 0 13 0 13;
    border-color: transparent;
    border-width: 0 13px;
}

div.ht_up_box::-webkit-scrollbar-track-piece:horizontal:decrement
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-track.png) 0 13 0 13;
    border-color: transparent;
    border-width: 0 0 0 13px;
}

    div.ht_up_box::-webkit-scrollbar-track-piece:horizontal:decrement:hover
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-track-hover.png) 0 13 0 13;
    }

    div.ht_up_box::-webkit-scrollbar-track-piece:horizontal:decrement:active
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-track-active.png) 0 13 0 13;
    }

div.ht_up_box::-webkit-scrollbar-track-piece:horizontal:increment
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-track.png) 0 13 0 13;
    border-color: transparent;
    border-width: 0 13px 0 0;
}

    div.ht_up_box::-webkit-scrollbar-track-piece:horizontal:increment:hover
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-track-hover.png) 0 13 0 13;
    }

    div.ht_up_box::-webkit-scrollbar-track-piece:horizontal:increment:active
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-track-active.png) 0 13 0 13;
    }

div.ht_up_box::-webkit-scrollbar-button:horizontal
{
    width: 20px;
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button.png) 0 2 0 2;
    border-color: transparent;
    border-width: 0 2px;
}

    div.ht_up_box::-webkit-scrollbar-button:horizontal:decrement
    {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-decrement-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-background.png);
        background-repeat: no-repeat, repeat-x;
        background-position: 2px 3px, 0 0;
    }

        div.ht_up_box::-webkit-scrollbar-button:horizontal:decrement:hover
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-hover.png) 0 2 0 2;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-decrement-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-background-hover.png);
        }

        div.ht_up_box::-webkit-scrollbar-button:horizontal:decrement:active
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-active.png) 0 2 0 2;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-decrement-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-background-active.png);
        }

        div.ht_up_box::-webkit-scrollbar-button:horizontal:decrement:window-inactive
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-inactive.png) 0 2 0 2;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-decrement-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-background-inactive.png);
        }

    div.ht_up_box::-webkit-scrollbar-button:horizontal:increment
    {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-increment-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-background.png);
        background-repeat: no-repeat, repeat-x;
        background-position: 7px 3px, 0 0;
    }

        div.ht_up_box::-webkit-scrollbar-button:horizontal:increment:hover
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-hover.png) 0 2 0 2;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-increment-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-background-hover.png);
        }

        div.ht_up_box::-webkit-scrollbar-button:horizontal:increment:active
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-active.png) 0 2 0 2;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-increment-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-background-active.png);
        }

        div.ht_up_box::-webkit-scrollbar-button:horizontal:increment:window-inactive
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-inactive.png) 0 2 0 2;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-increment-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/horizontal-button-background-inactive.png);
        }

div.ht_up_box:not(.single)::-webkit-scrollbar-button:double-button:horizontal:start:decrement,
div.ht_up_box.double-start::-webkit-scrollbar-button:horizontal:start:decrement,
div.ht_up_box.double-both::-webkit-scrollbar-button:horizontal:start:decrement
{
    width: 14px;
    border-right-width: 0;
    background-position: 2px 3px, 0 0;
}

div.ht_up_box:not(.single)::-webkit-scrollbar-button:double-button:horizontal:start:increment,
div.ht_up_box.double-start::-webkit-scrollbar-button:horizontal:start:increment,
div.ht_up_box.double-both::-webkit-scrollbar-button:horizontal:start:increment
{
    background-position: 3px 3px, 0 0;
}

div.ht_up_box:not(.single)::-webkit-scrollbar-button:double-button:horizontal:end:decrement,
div.ht_up_box.double-end::-webkit-scrollbar-button:horizontal:end:decrement,
div.ht_up_box.double-both::-webkit-scrollbar-button:horizontal:end:decrement
{
    background-position: 7px 3px, 0 0;
}

div.ht_up_box:not(.single)::-webkit-scrollbar-button:double-button:horizontal:end:increment,
div.ht_up_box.double-end::-webkit-scrollbar-button:horizontal:end:increment,
div.ht_up_box.double-both::-webkit-scrollbar-button:horizontal:end:increment
{
    width: 14px;
    border-left-width: 0;
    background-position: 3px 3px, 0 0;
}

div.ht_up_box::-webkit-scrollbar-button:horizontal:end:increment:corner-present
{
    border-right-width: 0;
    width: 19px;
}

div.ht_up_box:not(.single)::-webkit-scrollbar-button:double-button:horizontal:end:increment:corner-present,
div.ht_up_box.double-end::-webkit-scrollbar-button:horizontal:end:increment:corner-present,
div.ht_up_box.double-both::-webkit-scrollbar-button:horizontal:end:increment:corner-present
{
    width: 13px;
}

/* Vertical Scrollbar Styles */

div.ht_up_box::-webkit-scrollbar:vertical
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button.png) 2 0 2 0;
    border-color: transparent;
    border-width: 2px 0;
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-background.png);
    background-repeat: repeat-y;
}

    div.ht_up_box::-webkit-scrollbar:vertical:corner-present
    {
        border-bottom-width: 0;
    }

div.ht_up_box::-webkit-scrollbar-track:vertical:disabled:corner-present
{
    margin-bottom: 5px;
}

div.ht_up_box::-webkit-scrollbar:vertical:window-inactive
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-inactive.png) 2 0 2 0;
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-background-inactive.png);
}

div.ht_up_box::-webkit-scrollbar-thumb:vertical
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-thumb.png) 13 0 13 0;
    border-color: transparent;
    border-width: 13px 0;
    min-height: 20px;
}

    div.ht_up_box::-webkit-scrollbar-thumb:vertical:hover
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-thumb-hover.png) 13 0 13 0;
    }

    div.ht_up_box::-webkit-scrollbar-thumb:vertical:active
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-thumb-active.png) 13 0 13 0;
    }

    div.ht_up_box::-webkit-scrollbar-thumb:vertical:window-inactive
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-thumb-inactive.png) 13 0 13 0;
    }

div.ht_up_box::-webkit-scrollbar-track-piece:vertical:start:no-button,
div.ht_up_box.double-end::-webkit-scrollbar-track-piece:vertical:start,
div.ht_up_box.none::-webkit-scrollbar-track-piece:vertical:start
{
    margin-top: 6px;
}

div.ht_up_box::-webkit-scrollbar-track-piece:vertical:end:no-button,
div.ht_up_box.double-start::-webkit-scrollbar-track-piece:vertical:end,
div.ht_up_box.none::-webkit-scrollbar-track-piece:vertical:end
{
    margin-bottom: 6px;
}

    div.ht_up_box::-webkit-scrollbar-track-piece:vertical:end:no-button:corner-present,
    div.ht_up_box.double-start::-webkit-scrollbar-track-piece:vertical:end:corner-present,
    div.ht_up_box.none::-webkit-scrollbar-track-piece:vertical:end:corner-present
    {
        margin-bottom: 5px;
    }

div.ht_up_box:not(.none):not(.double-end)::-webkit-scrollbar-track-piece:vertical:start:single-button,
div.ht_up_box:not(.none):not(.double-end)::-webkit-scrollbar-track-piece:vertical:start:double-button,
div.ht_up_box.single::-webkit-scrollbar-track-piece:vertical:start,
div.ht_up_box.double-start::-webkit-scrollbar-track-piece:vertical:start,
div.ht_up_box.double-both::-webkit-scrollbar-track-piece:vertical:start
{
    margin-top: -6px;
}

div.ht_up_box:not(.none):not(.double-start)::-webkit-scrollbar-track-piece:vertical:end:single-button,
div.ht_up_box:not(.none):not(.double-start)::-webkit-scrollbar-track-piece:vertical:end:double-button,
div.ht_up_box.single::-webkit-scrollbar-track-piece:vertical:end,
div.ht_up_box.double-end::-webkit-scrollbar-track-piece:vertical:end,
div.ht_up_box.double-both::-webkit-scrollbar-track-piece:vertical:end
{
    margin-bottom: -6px;
}

div.ht_up_box::-webkit-scrollbar-track:vertical:disabled
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-track-disabled.png) 13 0 13 0;
    border-color: transparent;
    border-width: 13px 0;
}

div.ht_up_box::-webkit-scrollbar-track-piece:vertical:decrement
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-track.png) 13 0 13 0;
    border-color: transparent;
    border-width: 13px 0 0 0;
}

    div.ht_up_box::-webkit-scrollbar-track-piece:vertical:decrement:hover
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-track-hover.png) 13 0 13 0;
    }

    div.ht_up_box::-webkit-scrollbar-track-piece:vertical:decrement:active
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-track-active.png) 13 0 13 0;
    }

div.ht_up_box::-webkit-scrollbar-track-piece:vertical:increment
{
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-track.png) 13 0 13 0;
    border-color: transparent;
    border-width: 0 0 13px 0;
}

    div.ht_up_box::-webkit-scrollbar-track-piece:vertical:increment:hover
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-track-hover.png) 13 0 13 0;
    }

    div.ht_up_box::-webkit-scrollbar-track-piece:vertical:increment:active
    {
        -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-track-active.png) 13 0 13 0;
    }

div.ht_up_box::-webkit-scrollbar-button:vertical
{
    height: 20px;
    -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button.png) 2 0 2 0;
    border-color: transparent;
    border-width: 2px 0;
}

    div.ht_up_box::-webkit-scrollbar-button:vertical:decrement
    {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-decrement-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-background.png);
        background-repeat: no-repeat, repeat-y;
        background-position: 3px 3px, 0 0;
    }

        div.ht_up_box::-webkit-scrollbar-button:vertical:decrement:hover
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-hover.png) 2 0 2 0;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-decrement-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-background-hover.png);
        }

        div.ht_up_box::-webkit-scrollbar-button:vertical:decrement:active
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-active.png) 2 0 2 0;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-decrement-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-background-active.png);
        }

        div.ht_up_box::-webkit-scrollbar-button:vertical:decrement:window-inactive
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-inactive.png) 2 0 2 0;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-decrement-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-background-inactive.png);
        }

    div.ht_up_box::-webkit-scrollbar-button:vertical:increment
    {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-increment-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-background.png);
        background-repeat: no-repeat, repeat-y;
        background-position: 3px 8px, 0 0;
    }

        div.ht_up_box::-webkit-scrollbar-button:vertical:increment:hover
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-hover.png) 2 0 2 0;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-increment-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-background-hover.png);
        }

        div.ht_up_box::-webkit-scrollbar-button:vertical:increment:active
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-active.png) 2 0 2 0;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-increment-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-background-active.png);
        }

        div.ht_up_box::-webkit-scrollbar-button:vertical:increment:window-inactive
        {
            -webkit-border-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-inactive.png) 2 0 2 0;
            background-image: url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-increment-arrow.png), url(chrome-extension://__MSG_@@extension_id__/images/scrollbar/vertical-button-background-inactive.png);
        }

div.ht_up_box:not(.single)::-webkit-scrollbar-button:double-button:vertical:start:decrement,
div.ht_up_box.double-start::-webkit-scrollbar-button:vertical:start:decrement,
div.ht_up_box.double-both::-webkit-scrollbar-button:vertical:start:decrement
{
    height: 14px;
    border-bottom-width: 0;
    background-position: 3px 3px, 0 0;
}

div.ht_up_box:not(.single)::-webkit-scrollbar-button:double-button:vertical:start:increment,
div.ht_up_box.double-start::-webkit-scrollbar-button:vertical:start:increment,
div.ht_up_box.double-both::-webkit-scrollbar-button:vertical:start:increment
{
    background-position: 3px 4px, 0 0;
}

div.ht_up_box:not(.single)::-webkit-scrollbar-button:double-button:vertical:end:decrement,
div.ht_up_box.double-end::-webkit-scrollbar-button:vertical:end:decrement,
div.ht_up_box.double-both::-webkit-scrollbar-button:vertical:end:decrement
{
    background-position: 3px 8px, 0 0;
}

div.ht_up_box:not(.single)::-webkit-scrollbar-button:double-button:vertical:end:increment,
div.ht_up_box.double-end::-webkit-scrollbar-button:vertical:end:increment,
div.ht_up_box.double-both::-webkit-scrollbar-button:vertical:end:increment
{
    height: 14px;
    border-top-width: 0;
    background-position: 3px 4px, 0 0;
}

div.ht_up_box::-webkit-scrollbar-button:vertical:end:increment:corner-present
{
    border-bottom-width: 0;
    height: 19px;
}

div.ht_up_box:not(.single)::-webkit-scrollbar-button:double-button:vertical:end:increment:corner-present,
div.ht_up_box.double-end::-webkit-scrollbar-button:vertical:end:increment:corner-present,
div.ht_up_box.double-both::-webkit-scrollbar-button:vertical:end:increment:corner-present
{
    height: 13px;
}

/* Forced Scrollbar Mode Styles */

div.ht_up_box.single::-webkit-scrollbar-button:start:decrement,
div.ht_up_box.single::-webkit-scrollbar-button:end:increment
{
    display: block;
}

div.ht_up_box.single::-webkit-scrollbar-button:start:increment,
div.ht_up_box.single::-webkit-scrollbar-button:end:decrement
{
    display: none;
}

div.ht_up_box.double-end::-webkit-scrollbar-button:start
{
    display: none;
}

div.ht_up_box.double-end::-webkit-scrollbar-button:end
{
    display: block;
}

div.ht_up_box.double-start::-webkit-scrollbar-button:start
{
    display: block;
}

div.ht_up_box.double-start::-webkit-scrollbar-button:end
{
    display: none;
}

div.ht_up_box.double-both::-webkit-scrollbar-button
{
    display: block;
}

div.ht_up_box.none::-webkit-scrollbar-button
{
    display: none;
}
