/* begin css tabs */

ul#tabnav
{ /* general settings */
    text-align: center; /* set to left, right or center */
    margin: 1em 0 1em 0; /* set margins as desired */
    font: 12px Verdana,Arial;
    font-variant: small-caps;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #C1DAD7; /* set border COLOR as desired */
    list-style-type: none;
    padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

    ul#tabnav li
    { /* do not change */
        display: inline;
    }

body#tab1 li.tab1,
body#tab2 li.tab2,
body#tab3 li.tab3,
body#tab4 li.tab4,
body#tab5 li.tab5,
body#tab6 li.tab6,
body#tab7 li.tab7,
body#tab8 li.tab8,
body#tab9 li.tab9,
body#tab10 li.tab10,
body#tab11 li.tab11,
body#tab12 li.tab12,
body#tab13 li.tab13,
body#tab14 li.tab14,
body#tab15 li.tab15,
body#tab16 li.tab16,
body#tab17 li.tab17,
body#tab18 li.tab18,
body#tab19 li.tab19,
body#tab20 li.tab20,
body#tab21 li.tab21,
body#tab22 li.tab22,
body#tab23 li.tab23,
body#tab24 li.tab24,
body#tab25 li.tab25,
body#tab26 li.tab26,
body#tab27 li.tab27,
body#tab28 li.tab28,
body#tab29 li.tab29,
body#tab30 li.tab30
{
    border-bottom: 1px solid #fff; /* set border color to page background color */
    background-color: #fff; /* set background color to match above border color */
}

    body#tab1 li.tab1 a,
    body#tab2 li.tab2 a,
    body#tab3 li.tab3 a,
    body#tab4 li.tab4 a,
    body#tab5 li.tab5 a,
    body#tab6 li.tab6 a,
    body#tab7 li.tab7 a,
    body#tab8 li.tab8 a,
    body#tab9 li.tab9 a,
    body#tab10 li.tab10 a,
    body#tab11 li.tab11 a,
    body#tab12 li.tab12 a,
    body#tab13 li.tab13 a,
    body#tab14 li.tab14 a,
    body#tab15 li.tab15 a,
    body#tab16 li.tab16 a,
    body#tab17 li.tab17 a,
    body#tab18 li.tab18 a,
    body#tab19 li.tab19 a,
    body#tab20 li.tab20 a,
    body#tab21 li.tab21 a,
    body#tab22 li.tab22 a,
    body#tab23 li.tab23 a,
    body#tab24 li.tab24 a,
    body#tab25 li.tab25 a,
    body#tab26 li.tab26 a,
    body#tab27 li.tab27 a,
    body#tab28 li.tab28 a,
    body#tab29 li.tab29 a,
    body#tab30 li.tab30 a
    {
        background-color: #fff; /* set selected tab background color as desired */
        color: #000; /* set selected tab link color as desired */
        position: relative;
        top: 1px;
        padding-top: 4px; /* must change with respect to padding (X) above and below */
    }

ul#tabnav li a
{ /* settings for all tab links */
    padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
    border: 1px solid #C1DAD7; /* set border COLOR as desired; usually matches border color specified in #tabnav */
    background-color: #C1DAD7; /* set unselected tab background color as desired */
    color: #4f6b72; /* set unselected tab link color as desired */
    margin-right: 0px; /* set additional spacing between tabs as desired */
    text-decoration: none;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

ul#tabnav a:hover
{ /* settings for hover effect */
    background: #fff; /* set desired hover color */
}

/* end css tabs */
